<div class="clearable-file-input avatar-file-input">
  {% if widget.is_initial and not widget.required %}
    <label class="avatar-clear-toggle" for="{{ widget.checkbox_id }}">
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %}disabled{% endif %}>
      <span>{{ widget.clear_checkbox_label }}</span>
    </label>
  {% endif %}

  <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} class="avatar-file-hidden">
</div>
